*{
    margin: 0px;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Oswald', sans-serif;
    background-image: url("фщн.jpg");
    background-attachment: fixed;

    background-size: cover;
}

.menu{
    /* background-color: aqua; */
    width: 200px;
   

    position: fixed;
    /* right: 0px; */
    top: 0px;
    /* bottom: 250px; */
    left: 0px;
    height: 100%;
}
 .menu a{
     display: block;
     text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
     line-height: 35px;
text-decoration: none;


 }
.content{
width: calc(100% - 200px);
    /* background-color: tan; */
    margin-left: 200px;
}
h1{
    padding-left: 20px;
    color: white;
    padding-right: 20px;
    text-shadow: 0 0 10px black;
    text-align: center;
}
img  {
width: 100%;
display: block;
}
p{
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}
h2{
margin-bottom: 20px;
margin-top: 50px;
text-shadow: 0 0 20px black;
text-align: center;
    color: white;
}



